In [1]:
import pandas as pd 
import numpy as np

In [2]:
#Load gameplay data, deposit data and withdrawal data
gameplay_data= pd.read_csv(r"C:\Users\kushn\Downloads\Files\gameplay_data.csv", low_memory=False)
deposit_data = pd.read_csv(r"C:\Users\kushn\Downloads\Files\deposit_data.csv")
withdrawal_data = pd.read_csv(r"C:\Users\kushn\Downloads\Files\withdrawal_data.csv")

In [3]:
# Show the first 5 rows of the gameplay data
gameplay_data.head()

   User ID  Games Played          Datetime
0        0             1  04-10-2022 18:28
1        0             1  05-10-2022 23:03
2        0             1  06-10-2022 02:23
3        0             1  10-10-2022 04:17
4        0             1  10-10-2022 14:58

In [4]:
# Get the shape of the gameplay data
gameplay_data.shape

(341530, 3)

In [5]:
# Display information about the gameplay_data DataFrame
gameplay_data.info
print(gameplay_data.info())

# Check for missing values
print(gameplay_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341530 entries, 0 to 341529
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   User ID       341530 non-null  int64
 1   Games Played  341530 non-null  int64
 2   Datetime      341530 non-null  object
dtypes: int64(2), object(1)
memory usage: 7.8+ MB
None
User ID         0
Games Played    0
Datetime        0
dtype: int64

No Missing Values

In [6]:
# Count the number of duplicate rows
gameplay_data.duplicated().sum()

np.int64(0)

In [7]:
# Show the first 5 rows of the deposit data
deposit_data.head()

   User Id          Datetime  Amount
0        1  18-10-2022 23:42    5000
1        2  01-10-2022 17:31   40000
2        2  02-10-2022 12:58    5000
3        2  06-10-2022 02:21   40000
4        2  08-10-2022 00:52   40000

In [8]:
# Get the shape of the deposit data
deposit_data.shape

(17437, 3)

In [9]:
# Display information about the deposit_data DataFrame
deposit_data.info
print(deposit_data.info())

# Check for missing values
print(deposit_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17437 entries, 0 to 17436
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User Id   17437 non-null  int64
 1   Datetime  17437 non-null  object
 2   Amount    17437 non-null  int64
dtypes: int64(2), object(1)
memory usage: 408.8+ KB
None
User Id     0
Datetime    0
Amount      0
dtype: int64

No Missing Values

In [10]:
# Count the number of duplicate rows
deposit_data.duplicated().sum()

np.int64(0)

In [11]:
# Show the first 5 rows of the withdrawal data
withdrawal_data.head()

   User Id          Datetime  Amount
0        2  01-10-2022 18:03   55000
1        2  03-10-2022 02:39  117349
2        2  04-10-2022 22:42   19000
3        2  05-10-2022 09:30   36000
4        2  08-10-2022 21:15   13000

In [12]:
# Get the shape of the withdrawal data
withdrawal_data.shape

(3566, 3)

In [13]:
# Display information about the withdrawal_data DataFrame
withdrawal_data.info
print(withdrawal_data.info())

# Check for missing values
print(withdrawal_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User Id   3566 non-null   int64
 1   Datetime  3566 non-null   object
 2   Amount    3566 non-null   int64
dtypes: int64(2), object(1)
memory usage: 83.7+ KB
None
User Id     0
Datetime    0
Amount      0
dtype: int64

No Missing Values

In [14]:
# Count the number of duplicate rows
withdrawal_data.duplicated().sum()

np.int64(0)

In [15]:
# Create deposit data
deposit_data = pd.DataFrame({
    'Datetime': ['2024-10-02', '2024-10-02', '2024-10-16', '2024-10-18', '2024-10-26'],
    'player_id': [1, 2, 1, 2, 1],
    'deposit_amount': [100, 200, 150, 300, 100]
})

# Create withdrawal data
withdrawal_data = pd.DataFrame({
    'Datetime': ['2024-10-02', '2024-10-18', '2024-10-26'],
    'player_id': [1, 2, 1],
    'withdrawal_amount': [50, 30, 100]
})

# Create gameplay data
games_played_data = pd.DataFrame({
    'Datetime': ['2024-10-02', '2024-10-16', '2024-10-18'],
    'player_id': [1, 1, 2],
    'game_points': [10, 20, 15]
})

# Function to calculate loyalty points
def calculate_loyalty_points(deposits, withdrawals, games):
    deposit_points = deposits['deposit_amount'].sum() * 0.01
    withdrawal_points = withdrawals['withdrawal_amount'].sum() * -0.005
    game_points = games['game_points'].sum()
    
    # Total loyalty points
    return deposit_points + withdrawal_points + game_points

In [16]:
# Function to calculate slotwise points
def calculate_slotwise_points(deposits, withdrawals, games, date, slot):
    # Set time range for slots
    if slot == 'S1':
        slot_start = pd.Timestamp(date)           # 12 AM
        slot_end = slot_start + pd.Timedelta(hours=12)  # 12 PM
    else:  # S2
        slot_start = pd.Timestamp(date) + pd.Timedelta(hours=12)  # 12 PM
        slot_end = slot_start + pd.Timedelta(days=1)  # 12 AM next day

    # Filter data for the specified time slot
    deposits_slot = deposits[(pd.to_datetime(deposits['Datetime']) >= slot_start) & 
                             (pd.to_datetime(deposits['Datetime']) < slot_end)]
    withdrawals_slot = withdrawals[(pd.to_datetime(withdrawals['Datetime']) >= slot_start) & 
                                   (pd.to_datetime(withdrawals['Datetime']) < slot_end)]
    games_slot = games[(pd.to_datetime(games['Datetime']) >= slot_start) & 
                       (pd.to_datetime(games['Datetime']) < slot_end)]
    
    # Calculate and return loyalty points for the time slot
    return calculate_loyalty_points(deposits_slot, withdrawals_slot, games_slot)

In [17]:
# Initialize a dictionary to store player-wise points
playerwise_points = {}

# Calculate player-wise points for each slot
dates_and_slots = {
    '2nd October S1': ('2024-10-02', 'S1'),
    '16th October S2': ('2024-10-16', 'S2'),
    '18th October S1': ('2024-10-18', 'S1'),
    '26th October S2': ('2024-10-26', 'S2'),
}

for key, (date, slot) in dates_and_slots.items():
    playerwise_points[key] = deposit_data.groupby('player_id').apply(
        lambda x: calculate_slotwise_points(x, withdrawal_data, games_played_data, date, slot),
        include_groups=False
    )

# Create a DataFrame and fill NaN values with 0
results_df = pd.DataFrame(playerwise_points).fillna(0)

In [18]:
# Display playerwise loyalty points
print("Playerwise Loyalty Points:")
print(results_df)

Playerwise Loyalty Points:
           2nd October S1  16th October S2  18th October S1  26th October S2
player_id
1                   10.75              0.0            14.85              0.0
2                   11.75              0.0            17.85              0.0

Both players earned points on October 2 and 18.
No activity on October 16 and 26 resulted in 0.0 points for those slots.

In [19]:
# Calculate overall loyalty points for each player in October
overall_points = deposit_data.groupby('player_id').apply(
    lambda player_data: calculate_loyalty_points(
        player_data,
        withdrawal_data[withdrawal_data['player_id'] == player_data.name],
        games_played_data[games_played_data['player_id'] == player_data.name]
    ),
    include_groups=False  # Exclude 'player_id' from the result
)

In [20]:
# Create a DataFrame with 'loyalty_points' as a column
overall_points_df = overall_points.reset_index(name='loyalty_points')

In [21]:
# Count total games played by each player
total_games_played = games_played_data.groupby('player_id')['game_points'].count().reset_index(name='total_games')

# Merge total games played with overall points DataFrame
overall_points_df = overall_points_df.merge(total_games_played, on='player_id', how='left').fillna(0)

In [22]:
# Rank players by loyalty points using dense ranking
overall_points_df['rank'] = overall_points_df['loyalty_points'].rank(ascending=False, method='dense')

# Sort DataFrame by loyalty points and total games played
overall_points_df = overall_points_df.sort_values(by=['loyalty_points', 'total_games'], ascending=[False, False]).reset_index(drop=True)

In [23]:
# Display overall points and rankings
print("\nOverall Points and Rankings:")
print(overall_points_df)

Overall Points and Rankings:
   player_id  loyalty_points  total_games  rank
0          1           32.75            2   1.0
1          2           19.85            1   2.0

Player 1 has the highest loyalty points and games played, while Player 2 has lower loyalty points and games played.

In [24]:
# Calculate average deposit amount
average_deposit_amount = deposit_data['deposit_amount'].mean()

# Calculate average deposit amount per user
average_deposit_per_user = deposit_data.groupby('player_id')['deposit_amount'].sum().mean()

# Calculate average games played per user
average_games_played_per_user = games_played_data.groupby('player_id')['game_points'].count().mean()

In [25]:
# Display average deposit amounts and games played
print(f"\nAverage Deposit Amount: {average_deposit_amount:.2f}")
print(f"Average Deposit Amount per User: {average_deposit_per_user:.2f}")
print(f"Average Games Played per User: {average_games_played_per_user:.2f}")

Average Deposit Amount: 170.00
Average Deposit Amount per User: 425.00
Average Games Played per User: 1.50

In [26]:
data = {
    'player_id': [1, 2, 3, 4, 5],
    'deposit_amount': [1000, 1500, 700, 1200, 1300],
    'withdrawal_amount': [500, 300, 200, 100, 400],
    'deposit_count': [5, 8, 3, 6, 7],
    'withdrawal_count': [3, 1, 1, 2, 2],
    'games_played': [20, 25, 15, 30, 18]
}

# Create a DataFrame
overall_points = pd.DataFrame(data)

# Calculate loyalty points for each player
overall_points['loyalty_points'] = (
    0.01 * overall_points['deposit_amount'] +
    0.005 * overall_points['withdrawal_amount'] +
    0.001 * np.maximum(overall_points['deposit_count'] - overall_points['withdrawal_count'], 0) +
    0.2 * overall_points['games_played']
)

# Calculate total loyalty points for the top 50 players
total_points_top_50 = overall_points.nlargest(50, 'loyalty_points')['loyalty_points'].sum()

# Allocate bonuses based on loyalty points
overall_points['bonus'] = (overall_points['loyalty_points'] / total_points_top_50) * 50000

In [27]:
# Display results
print("Overall Points with Loyalty Points and Bonus:\n", overall_points)

Overall Points with Loyalty Points and Bonus:
    player_id  deposit_amount  withdrawal_amount  deposit_count  \
0          1            1000                500              5
1          2            1500                300              8
2          3             700                200              3
3          4            1200                100              6
4          5            1300                400              7

   withdrawal_count  games_played  loyalty_points         bonus
0                 3            20          16.502   9580.817464
1                 1            25          21.507  12486.646540
2                 1            15          11.002   6387.598699
3                 2            30          18.504  10743.149094
4                 2            18          18.605  10801.788203

Bonuses based on Loyalty Points